@model Academy08._04.Models.Marks

@{
    ViewBag.Title = "AddMark";
}

<h2>Add Mark</h2>

<div>
    @{
    Academy08._04.Models.Subject subject = ViewBag.Subject;
    int subjId = subject.Id;
    }
</div>

@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true)
    <input type="hidden" value="@subjId" name="SubjectId" />
    <fieldset>
        <table>
            <tr>
                <td>
                    @Html.DropDownListFor(model => model.StudentId, ViewBag.Students as SelectList)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Date)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.EditorFor(model => model.Date)
                    @Html.ValidationMessageFor(model => model.Date)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(model => model.CurrentMark, ViewBag.Marks as SelectList)
                </td>
            </tr>

        </table>
            <input type="submit" value="Add" />
    </fieldset>
}

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}

