@model Academy08._04.Models.Marks

@{
    ViewBag.Title = "AddMark";
}

<h2>Add Mark</h2>

<div>
    @{
    Academy08._04.Models.Subject subject = ViewBag.Subject;
    int subjId = subject.id;
    }
</div>

<form method="post" action="/Interface/AddMark">
    <input type="hidden" value="@subjId" name="SubjectId" />
    <input type="hidden" value="@DateTime.Now" name="Date" />
    <fieldset>
        <table>
            <tr>
                @Html.DropDownListFor(model => model.StudentId, ViewBag.Students as SelectList)
            </tr>

            <tr>
                @Html.DropDownListFor(model => model.Mark, ViewBag.Marks as SelectList)
            </tr>

        </table>
        <input type="submit" value="Add" />
     </fieldset>
</form>

@section Scripts {
     @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
                @*Html.Hidden("SubjectId", subjId)   @*.EditorFor(model => model.SubjectId.Equals())
                @Html.ValidationMessageFor(model => model.SubjectId.Equals(subjId))
                @Html.LabelFor(model => model.Mark)
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)*@
