@model Academy08._04.Models.User

@{
    ViewBag.Title = "Personal Page";
}

<table>
    <tr>
        @if (HttpContext.Current.User.IsInRole("Manager") || HttpContext.Current.User.IsInRole("Teacher"))
        {       
        <td>
            @Html.ActionLink("Go to admin panel", "Index", "User", null, null)
        </td>
        }
        <td>
            @if (!HttpContext.Current.User.IsInRole("Student")) 
            { @Html.ActionLink("Schedule", "ScheduleManager") } 
            else { @Html.ActionLink("Schedule", "Schedule") }
        </td>
        @if (HttpContext.Current.User.IsInRole("Student"))
        {
            <td>
                @Html.ActionLink("Marks", "Marks")
            </td>
        }
        @if (HttpContext.Current.User.IsInRole("Teacher"))
        {
            <td>
                @Html.ActionLink("Marks", "MarksTeacher")
            </td>
        }
        <td>
            @Html.ActionLink("Log out", "LogOff", "Account", null, null)
        </td>
    </tr>
</table>

<h2>Personal Page</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName):
        </th>
        <td>
            @Html.DisplayFor(model => Model.FirstName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName):
        </th>
        <td>
            @Html.DisplayFor(model => Model.LastName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role.Name):
        </th>
        <td>
            @Html.DisplayFor(model => Model.Role.Name)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Group.Name):
        </th>
        <td>
            @Html.DisplayFor(model => Model.Group.Name)
        </td>
    </tr>
</table>



