@model List<Academy08._04.Models.Schedule>
@{
    ViewBag.Title = "Shedule";
}

<table>
    <tr>
        <td>
            @Html.ActionLink("To personal page", "PersonalPage", "Interface", null, null)
        </td>
        <td>
            @Html.ActionLink("Log out", "LogOff", "Account", null, null)
        </td>
    </tr>
</table>
            
<h2>Schedule</h2>

<div>
    <form method="post" action="/Interface/Schedule">
        <table>
            <tr>
                <td>Date: </td>
                <td>@Html.DropDownList("date_filter", ViewBag.Dates as SelectList)</td>
                <td><input type="submit" value="Search" /></td>
            </tr>
        </table>
    </form>
</div>

<table border="1" cellspacing="0" cellpadding="0">
    <tr>
        <th width="10" align="center">
            Lesson
        </th>
        <th width="173" align="center">
            Classroom
        </th>
        <th width="200" align="center">
            Subject
        </th>
    </tr>

    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>
            <td width="10">
                @Html.DisplayFor(modelItem => Model[i].Lesson)
            </td>
            <td width="15">
                @Html.DisplayFor(modelItem => Model[i].Classroom)
            </td>
            <td width="50">
                @Html.DisplayFor(modelItem => Model[i].Subject.Name)
            </td>
        </tr>
    }
</table>
