@model IEnumerable<Academy08._04.Models.Schedule>
@{
    ViewBag.Title = "Shedule";
}

<div>
    <form method="post" action="/Interface/Schedule">
        <table>
            <tr>
                <td>Date: </td>
                <td>@Html.DropDownList("date_filter", ViewBag.Dates as SelectList)</td>
                <td><input type="submit" value="Search" /></td>
            </tr>
        </table>
    </form>
</div>



<table>
    <tr>
        <td>
            <h2>Schedule</h2>
        </td>
        <td>
            @Html.ActionLink("To personal page", "PersonalPage", "Interface", null, null)
        </td>
    </tr>
</table>

<table border="1">
    <tr>
        <th width="10">
            Lesson
        </th>
        <th width="15">
            Classroom
        </th>
        <th width="50">
            Subject
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td width="10">
                @Html.DisplayFor(modelItem => item.Lesson)
            </td>
            <td width="15">
                @Html.DisplayFor(modelItem => item.Classroom)
            </td>
            <td width="50">
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
        </tr>
    }
</table>
