@model Academy08._04.Models.ScheduleView
@{
    ViewBag.Title = "Shedule";
}

<table>
    <tr>
        <td>
            @Html.ActionLink("To personal page", "PersonalPage", "Interface", null, null)
        </td>
        <td>
            @Html.ActionLink("Log out", "LogOff", "Account", null, null)
        </td>
    </tr>
</table>
            
<h2>Schedule</h2>

<div>
    <form method="post" action="/Interface/Schedule">
        <table>
            <tr>
                <td>Date: </td>
                <td>@Html.DropDownList("date_filter", ViewBag.Dates as SelectList)</td>
                <td><input type="submit" value="Search" /></td>
            </tr>
        </table>
    </form>
</div>

<table border="1">
    <tr>
        <th width="10">
            Lesson
        </th>
        <th width="15">
            Classroom
        </th>
        <th width="50">
            Subject
        </th>
    </tr>

    @for (int i = 0; i < Model.schedules.Count; i++)
    {
        <tr>
            <td width="10">
                @Html.DisplayFor(modelItem => Model.schedules[i].Lesson)
            </td>
            <td width="15">
                @Html.DisplayFor(modelItem => Model.schedules[i].Classroom)
            </td>
            <td width="50">
                @Html.DisplayFor(modelItem => Model.schedules[i].Subject.Name)
            </td>
        </tr>
    }
</table>


        @*foreach (var item in Model)
            {
                <tr>
                    <td width="10">
                        @Html.DisplayFor(modelItem => item.Lesson)
                    </td>
                    <td width="15">
                        @Html.DisplayFor(modelItem => item.Classroom)
                    </td>
                    <td width="50">
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                </tr>
            }*@
