@model Group
@using Academy08._04.Models
@{
    ViewBag.Title = "Groups";   
}

<table>
    <tr>
        <td>
            <h2>Groups</h2>
        </td>
        <td>
            @Html.ActionLink("To personal page", "PersonalPage", "Interface", null, null)
        </td>
        <td>
            @Html.ActionLink("Log out", "LogOff", "Account", null, null)
        </td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>New group</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p><input type="submit" value="Add" /></p>
    </fieldset>
}
<table>
    @if (ViewBag.Groups != null)
    { 
        int i = 0;
        foreach (Group item in ViewBag.Groups as IEnumerable<Academy08._04.Models.Group>) //null reference exception
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@item.Name</td>
                <td>@Html.ActionLink("Delete", "DeleteGroup", new {id=item.Id})</td>
            </tr>
        }
    }
</table>
