@model IEnumerable<Academy08._04.Models.User>
@{
    ViewBag.Title = "Users list";
}

<table>
    <tr>
        <td>
            <h2>Users list</h2>
        </td>
        <td>
            @Html.ActionLink("To personal page", "PersonalPage", "Interface", null, null)
        </td>
        <td>
            @Html.ActionLink("Log out", "LogOff", "Account", null, null)
        </td>
    </tr>
</table>

<div>
    <form method="post" action="/User/Index">
        <table>
            <tr>
                <td><p>Group: </p></td>
                <td> @Html.DropDownList("group_filter", ViewBag.Groups as SelectList)</td>
                <td><p>Role: </p></td>
                <td> @Html.DropDownList("role_filter", ViewBag.Roles as SelectList)</td>
                <td><input type="submit" value="Search" /> </td>
                @if (@HttpContext.Current.User.IsInRole("Manager")) { 
                    <td>@Html.ActionLink("Manage subjects", "Subjects")</td>
                }
            </tr>
        </table>
    </form>
</div>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group.Name)
        </th>
        @if (HttpContext.Current.User.IsInRole("Manager"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            @if (HttpContext.Current.User.IsInRole("Manager"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }
    @if (HttpContext.Current.User.IsInRole("Manager"))
    {
        <tr>
            <td>
                @Html.ActionLink("Add new user", "Create")
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                @Html.ActionLink("Manage groups", "Groups")
            </td>
        </tr>
    }

</table>
