@model Subject
@using Academy08._04.Models
@{
    ViewBag.Title = "Subjects";
}

<table>
    <tr>
        <td>
            @Html.ActionLink("Back to admin panel", "Index")
        </td>
        <td>
            @Html.ActionLink("To personal page", "PersonalPage", "Interface", null, null)
        </td>
        <td>
            @Html.ActionLink("Log out", "LogOff", "Account", null, null)
        </td>
    </tr>
</table>
            
<h2>Subjects</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>New subject</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p><input type="submit" value="Add" /></p>
    </fieldset>
}
<table>
    @if (ViewBag.Subjects != null)
    {
        int i = 0;
        foreach (Subject item in ViewBag.Subjects as IEnumerable<Academy08._04.Models.Subject>)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@item.Name</td>
                <td>@Html.ActionLink("Delete", "DeleteSubject", new { id = item.Id })</td>
            </tr>
        }
    }
</table>
